<style>
    .container{
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
      
    }
    
    .namebox {
        /* background-color: chartreuse; */
        
        width: 100%;
        padding: 1em;
        padding-left: 1em;
        padding-top: 1em;
        padding-right: calc(20%);

        display: flex;
        flex-direction: column; 
        gap: 15px;
    }

    .modifytax {
        display: grid;
        grid-template-areas: 'edit delete';
        gap: 5px;
    }

    .displayline {
        display: grid;
        grid-template-areas: 'qty uom am';
        gap: 5px;
    }

    .pcradiogroup{
        display: grid;
        grid-template-areas: 'rit ret';
        gap: 5px;
        
    }

    
.stocktableprogress {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 1, 1, 0);
        display: flex;
        justify-content: center;
        align-items: center;
}


    .overlay {

        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 1, 1, 0);
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .fourline {
        display: grid;
        grid-template-areas: 'qty uom am bm';
        gap: 5px;
    }
    

</style> 


<div class="container"> 
    
    

    <p-button (click)="showModalDialog()" icon="pi pi-external-link" label="New"></p-button>
    <div>Register of Consumption</div>

    <p-table [value]="sanitizedInvoiceList" [scrollable]="true"  
    selectionMode="single" scrollHeight="500px" 
        (onRowSelect)="onRowSelect($event)" dataKey="recordid" selectionMode="single" styleClass="p-datatable-gridlines">
        
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th>
                <th>Consumption Value</th>
                <th>Modify</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inv let-i="rowIndex">
            <tr>
                
                <td>{{inv.date}}</td>
                <td>{{inv.taxablevalue}}</td>
                <td>
                    <div>
                        <button pButton class="p-button-sm" (click)="handleView(inv.invoice)">VIEW</button>
                    </div>
                </td>

            </tr>
        </ng-template>
    </p-table>

    <p-dialog header="Consumption" [(visible)]="displayModal" [modal]="true" [style]="{width: '100%'}"
    [draggable]="false" [resizable]="false" [maximizable]="true">
    
    
        <form #f="ngForm" autocomplete="off" novalidate class="box">

            <div>
                <div>Date</div>
                <p-calendar 
                [(ngModel)]="selectedDate"
                [ngModelOptions]="{standalone: true}" 
                [showTime]="true" [showSeconds]="true" 
                inputId="time" 
                appendTo="body" (onSelect)="dateSelected($event)" 
                [required]="true">
                </p-calendar>
                
            </div>
            
            
        
            



            <p-button (click)="showNewVoucherDialog()" icon="pi pi-external-link" label="New Voucher"></p-button>

            <div class="card">
                <p-table [value]="selectedVouchers" [scrollable]="true"  
                selectionMode="single" scrollHeight="200px" 
                (onRowSelect)="onRowSelect($event)" dataKey="recordid" selectionMode="single" styleClass="p-datatable-sm">
                    
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Item</th>
                            <th>Qty</th>
                            <th>uom</th>
                            <th>Rate</th>
                            <th>Amount</th>
                            <th>Modify</th> 
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-v let-i="rowIndex">
                        <tr>
                            <td>{{v.object.itemname}}</td>
                            <td>{{v.quantity}}</td>
                            <td>{{v.object.uom.uom}}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                                <div class="displayline">
                                    <button pButton class="p-button-sm" (click)="handleEditVoucher(v)">EDIT</button>
                                    <button pButton class="p-button-sm" (click)="handleDeleteVoucher(i)">DEL</button>
                                </div>
                                
                            </td>
                            
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            

        </form>
        
        <!-- <pre>{{newInvoice | json }}</pre> -->

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="handleSaveSale()" label="Save" styleClass="p-button-text"></p-button>
        </ng-template>

    </p-dialog>



    <p-dialog header="Consumption Voucher" [(visible)]="displaySubModal" [modal]="true" [style]="{width: '100vw',height:'100vw'}"
                [draggable]="false" [resizable]="false" [maximizable]="true">
                
                
                <div class="namebox">
                    
                    


                    <div>
                        <div>Item</div>
                        <p-autoComplete
                            [(ngModel)]="selectedItem"
                            [suggestions]="filteredItems" 
                            (completeMethod)="filterItems($event)"
                            field="itemname" 
                            [multiple]="false" class="autocomplete" 
                            (onSelect)="handleOnSelectItem($event)"
                            [style]="{'width':'100%'}"
                            [inputStyle]="{'width':'100%'}" 
                            [placeholder]="placeholderItem" 
                            [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="itemChange($event)"
                            [required]="true" #selectItem="ngModel" 
                            [forceSelection]="true">
        
                            <ng-template let-selectedItem pTemplate="item">
                                <div>{{selectedItem.itemname}} - {{selectedItem.id}}</div>
                                <div>{{selectedItem.uom.uom}}</div>
                                <div><span style="font-size: 10px;">{{ selectedItem.level1 }} > {{ selectedItem.level2 }} > {{selectedItem.level3}}</span></div>
                            </ng-template>
        
                        </p-autoComplete>
                        <ng-template [ngIf]="selectItem.errors">
                            <small id="username2-help" class="p-error block">you must select an item</small>
                        </ng-template>
        
                    </div>

                    <div class="card flex justify-content-center gap-3">
                        <p-checkbox name="groupname" value="val1" label="Serial No" [(ngModel)]="selectedValues" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="snoBoolChange($event)"></p-checkbox>
                        <p-checkbox name="groupname" value="val2" label="Batch No" [(ngModel)]="selectedValues" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="bnoBoolChange($event)"></p-checkbox>
                        <p-checkbox name="groupname" value="val3" label="Expiry Date" [(ngModel)]="selectedValues" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="edtBoolChange($event)"></p-checkbox>
                        <p-checkbox name="groupname" value="val4" label="Brand" [(ngModel)]="selectedValues" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="brandBoolChange($event)"></p-checkbox>

                    </div>

                    <div class="card stocktable">
                        <p-table [value]="selectedStockBalances" [scrollable]="true"  
                        selectionMode="single" scrollHeight="200px" dataKey="recordid" selectionMode="single" styleClass="p-datatable-sm">
                            
                            <ng-template pTemplate="header">
                                
                                <tr>
                                    <th *ngFor="let col of sbcols">
                                        {{ col.field }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-sb let-i="rowIndex">
                                
                                <tr>
                                    <td *ngFor="let col of sbcols">
                                        <ng-container *ngIf="col.field === 'inputqty'; else notInputqty">
                                          <input type="number" min="0" pInputText class="p-inputtext-sm" 
                                                 placeholder="enter quantity" 
                                                 autocomplete="off" (input)="onNewSearchChange($event,i,sb)"
                                                 [(ngModel)]="sb[col.field]" [ngModelOptions]="{standalone: true}">
                                        </ng-container>
                                        <ng-template #notInputqty>
                                          {{ sb[col.field] }}  
                                        </ng-template>
                                      </td>
                                </tr>

                            </ng-template>
                        </p-table>

                        <ng-template [ngIf]="inStockBalanceProgress">
                            <div class="stocktableprogress" id="modal">
                                <p-progressSpinner></p-progressSpinner>
                            </div>
                        </ng-template>
                        
                    </div>


                    <div class="card stocktable">
                        <p-table [value]="selectedStockLocationBalance" [scrollable]="true"  
                        selectionMode="single" scrollHeight="200px" dataKey="recordid" selectionMode="single" styleClass="p-datatable-sm">
                            
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location</th>
                                    <th>Avail Qty</th>
                                    <th>Input</th>
                                </tr> 
                            </ng-template>
                            <ng-template pTemplate="body" let-sb let-i="rowIndex">
                                <tr>
                                    <td>{{sb.location}}</td>
                                    <td>{{sb.quantity}}</td>
                                    <td>
                                        <input type="number" min="0" pInputText class="p-inputtext-sm" 
                                    placeholder="enter quantity" 
                                    autocomplete="off" (input)="onSearchSLBChange($event,i)">
                                        
                                    </td>
                                    
                                </tr>
                            </ng-template>
                        </p-table>

                        <ng-template [ngIf]="inStockBalanceProgress">
                            <div class="stocktableprogress" id="modal">
                                <p-progressSpinner></p-progressSpinner>
                            </div>
                        </ng-template>
                        
                    </div>

                    

                    <div class="fourline">
                        <div>
                            <div>quantity</div>
                            
                        <div>{{this.selectedQty}}</div>
                        
                        </div>

                        <div>{{selectedUOM}}</div>

                        <div>
                            <div>Account Map</div>
                            <p-autoComplete
                                [(ngModel)]="selectedAccountMap"
                                [suggestions]="filteredAccountMaps" 
                                (completeMethod)="filterAccountMaps($event)"
                                field="accounthead" 
                                [multiple]="false" class="autocomplete" 
                                (onSelect)="handleOnSelectAccountMap($event)"
                                [style]="{'width':'100%'}"
                                [inputStyle]="{'width':'100%'}" 
                                [placeholder]="placeholderAccountMap" 
                                [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="accountMapChange($event)"
                                [required]="true" #selectAccountMap="ngModel" 
                                [forceSelection]="true">
                                <ng-template let-selectedAccountMap pTemplate="item">
                                    <div>{{selectedAccountMap.accounthead}} - {{selectedAccountMap.id}}</div>
                                </ng-template>
                
                            </p-autoComplete>
                            <ng-template [ngIf]="selectAccountMap.errors">
                                <small id="username2-help" class="p-error block">you must select an account map</small>
                            </ng-template>
                
                        </div>

                        <div>
                            <!-- <div>Title</div>
                            <p-dropdown #selectTitleOption="ngModel" [options]="titleOptions" [(ngModel)]="selectedTitleOption" 
                            (ngModelChange)="titleOptionChange($event)" optionLabel="type" optionValue="type"  [ngModelOptions]="{standalone: true}" [required]="true" ></p-dropdown>
                            <ng-template [ngIf]="selectTitleOption.errors">
                                <small id="username2-help" class="p-error block">you must select a title</small>
                            </ng-template> -->
                        </div>
        
                    </div>

                    


                    
                    

                    

                    

                    



                    


                    

                </div>

                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="handleAddVoucher()" label="Ok" styleClass="p-button-text"></p-button>
                </ng-template>
    </p-dialog>



    <p-dialog header="Edit Consumption" [(visible)]="displaySubEditModal" [modal]="true" [style]="{width: '100vw',height:'100vw'}"
                [draggable]="false" [resizable]="false">
                
                
                <div class="namebox">
                    
                    


                    <div>
                        <div>Item</div>
                        <p-autoComplete
                            [(ngModel)]="selectedItem"
                            [suggestions]="filteredItems" 
                            (completeMethod)="filterItems($event)"
                            field="itemname" 
                            [multiple]="false" class="autocomplete" 
                            (onSelect)="handleOnSelectItem($event)"
                            [style]="{'width':'100%'}"
                            [inputStyle]="{'width':'100%'}" 
                            [placeholder]="placeholderItem" 
                            [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="itemChange($event)"
                            [required]="true" #selectItem="ngModel" 
                            [forceSelection]="true">
        
                            <ng-template let-selectedItem pTemplate="item">
                                <div>{{selectedItem.itemname}} - {{selectedItem.id}}</div>
                                <div>{{selectedItem.uom.uom}}</div>
                                <div><span style="font-size: 10px;">{{ selectedItem.level1 }} > {{ selectedItem.level2 }} > {{selectedItem.level3}}</span></div>
                            </ng-template>
        
                        </p-autoComplete>
                        <ng-template [ngIf]="selectItem.errors">
                            <small id="username2-help" class="p-error block">you must select an item</small>
                        </ng-template>
        
                    </div>

                    <div class="card flex justify-content-center gap-3">
                        <p-checkbox name="groupname" value="val1" label="Serial No" [(ngModel)]="selectedValues" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="snoBoolChange($event)"></p-checkbox>
                        <p-checkbox name="groupname" value="val2" label="Batch No" [(ngModel)]="selectedValues" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="bnoBoolChange($event)"></p-checkbox>
                        <p-checkbox name="groupname" value="val3" label="Expiry Date" [(ngModel)]="selectedValues" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="edtBoolChange($event)"></p-checkbox>
                        <p-checkbox name="groupname" value="val4" label="Brand" [(ngModel)]="selectedValues" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="brandBoolChange($event)"></p-checkbox>

                    </div>

                    <div class="card stocktable">
                        <p-table [value]="selectedStockBalances" [scrollable]="true"  
                        selectionMode="single" scrollHeight="200px" dataKey="recordid" selectionMode="single" styleClass="p-datatable-sm">
                            
                            <ng-template pTemplate="header">
                                <!-- <tr>
                                    <th>Rate</th>
                                    <th>Expiry</th>
                                    <th>Quantity</th>
                                    <th>Input</th>
                                </tr> -->
                                <tr>
                                    <th *ngFor="let col of sbcols">
                                        {{ col.field }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-sb let-i="rowIndex">
                                <!-- <tr>
                                    <td>{{sb.rate}}</td>
                                    <td>{{sb.expirydate}}</td>
                                    <td>{{sb.balance}}</td>
                                    <td>
                                        <input type="number" min="0" pInputText class="p-inputtext-sm" 
                                    placeholder="enter quantity" 
                                    autocomplete="off" (input)="onSearchChange($event,i)" [value]="selectedStockBalances[i].inputqty">
                                        
                                    </td>
                                    
                                </tr> -->

                                <tr>
                                    <td *ngFor="let col of sbcols">
                                        <ng-container *ngIf="col.field === 'inputqty'; else notInputqty">
                                          <input type="number" min="0" pInputText class="p-inputtext-sm" 
                                                 placeholder="enter quantity" 
                                                 autocomplete="off" (input)="onNewSearchChange($event,i,sb)"
                                                 [(ngModel)]="sb[col.field]" [ngModelOptions]="{standalone: true}">
                                        </ng-container>
                                        <ng-template #notInputqty>
                                          {{ sb[col.field] }}  
                                        </ng-template>
                                      </td>
                                </tr>

                            </ng-template>
                        </p-table>

                        <ng-template [ngIf]="inStockBalanceProgress">
                            <div class="stocktableprogress" id="modal">
                                <p-progressSpinner></p-progressSpinner>
                            </div>
                        </ng-template>
                        
                    </div>



                    <div class="card stocktable">
                        <p-table [value]="selectedStockLocationBalance" [scrollable]="true"  
                        selectionMode="single" scrollHeight="200px" dataKey="recordid" selectionMode="single" styleClass="p-datatable-sm">
                            
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location</th>
                                    <th>Avail Qty</th>
                                    <th>Input</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-sb let-i="rowIndex">
                                <tr>
                                    <td>{{sb.location}}</td>
                                    <td>{{sb.quantity}}</td>
                                    <td>
                                        <input type="number" min="0" pInputText class="p-inputtext-sm" 
                                    placeholder="enter quantity" 
                                    autocomplete="off" (input)="onSearchSLBChange($event,i)" [value]="selectedStockLocationBalance[i].inputqty">
                                        
                                    </td>
                                    
                                </tr>
                            </ng-template>
                        </p-table>

                        <ng-template [ngIf]="inStockBalanceProgress">
                            <div class="stocktableprogress" id="modal">
                                <p-progressSpinner></p-progressSpinner>
                            </div>
                        </ng-template>
                        
                    </div>



                    <div class="displayline">
                        <div>
                            <div>quantity</div>
                            
                        <div>{{this.selectedQty}}</div>
                        
        
                        </div>

                        <div>{{selectedUOM}}</div>

                        <div>
                            <div>Account Map</div>
                            <p-autoComplete
                                [(ngModel)]="selectedAccountMap"
                                [suggestions]="filteredAccountMaps" 
                                (completeMethod)="filterAccountMaps($event)"
                                field="accounthead" 
                                [multiple]="false" class="autocomplete" 
                                (onSelect)="handleOnSelectAccountMap($event)"
                                [style]="{'width':'100%'}"
                                [inputStyle]="{'width':'100%'}" 
                                [placeholder]="placeholderAccountMap" 
                                [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="accountMapChange($event)"
                                [required]="true" #selectAccountMap="ngModel" 
                                [forceSelection]="true">
                                <ng-template let-selectedAccountMap pTemplate="item">
                                    <div>{{selectedAccountMap.accounthead}} - {{selectedAccountMap.id}}</div>
                                </ng-template>
                
                            </p-autoComplete>
                            <ng-template [ngIf]="selectAccountMap.errors">
                                <small id="username2-help" class="p-error block">you must select an account map</small>
                            </ng-template>
                
                        </div>
                        
        
                    </div>


                </div>

                
                    
                

                
                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="handleUpdateVoucher()" label="Ok" styleClass="p-button-text"></p-button>
                </ng-template>
    </p-dialog>



    <p-dialog header="View Consumption" [(visible)]="displayViewModal" [modal]="true" [style]="{width: '100%'}">
        <div>
            <!-- <pre>{{selectedInvoice.partyaccounthead | json }}</pre> -->
        </div>
    
        <div>Date: {{selectedInvoice.date}} </div>
        
     
        <div class="card">
            <p-table [value]="selectedInvoice.vouchers" [scrollable]="true"  
            selectionMode="single" scrollHeight="200px" dataKey="recordid" selectionMode="single" styleClass="p-datatable-sm">
                
                <ng-template pTemplate="header">
                    <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>uom</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Modify</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-v let-i="rowIndex">
                    <tr>
                        <td>{{v.object.itemname}}</td>
                        <td>{{v.quantity}}</td>
                        <td>{{v.object.uom.uom}}</td>
                        <td>{{v.rateaftertaxes | number: '1.2-2'}}</td>
                        <td>{{v.quantity * v.rateaftertaxes | number: '1.2-2'}} </td>
                        <td>
                            <div class="displayline">
                                <button pButton class="p-button-sm" (click)="handleEditVoucher(v)">EDIT</button>
                                <button pButton class="p-button-sm" (click)="handleDeleteVoucher(i)">DEL</button>
                            </div>
                            
                        </td>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="4" class="text-right">Total</td>
                        <td >{{viewTotal | number: '1.2-2'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    
        <!-- <p-table [value]="viewList">
            
            <ng-template pTemplate="body" let-car let-i="rowIndex">
                <tr *ngIf="i === 0">
                    <td colspan="5"><h1>{{car.col1}}</h1></td>
                </tr>
                <tr *ngIf="i === 1">
                    <td colspan="5">{{car.col1}}</td>
                </tr>
                <tr *ngIf="i === 2">
                    <td rowspan="2">{{car.col1}}</td>
                    <td rowspan="2">{{car.col2}}</td>
                    <td rowspan="2">{{car.col3}}</td>
                    <td>{{car.col4}}</td>
                    <td>{{car.col5}}</td>
                </tr>
                <tr *ngIf="i === 3">
                    <td colspan="3" class="text-right"></td>
                    <td>{{car.col1}}</td>
                    <td>{{car.col2}}</td>
                </tr>
            </ng-template>
        </p-table> -->
    </p-dialog>










    


    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


    <ng-template [ngIf]="inProgress">
        <div class="overlay" id="modal">
            <p-progressSpinner></p-progressSpinner>
        </div>
    </ng-template>

</div>
