
<style>
    .box {
        
        width: 100%;
        padding: 1em;
        padding-left: 1em;
        padding-top: 1em;
        padding-right: calc(20%);
        
        display: flex;
        flex-direction: column;
        gap: 15px;
        
    }

    .namebox {
        /* background-color: chartreuse; */
        
        width: 100%;
        padding: 1em;
        padding-left: 1em;
        padding-top: 1em;
        padding-right: calc(20%);

        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .modifytax {
        display: grid;
        grid-template-areas: 'edit delete';
        gap: 5px;
    }

    .displayline {
        display: grid;
        grid-template-areas: 'qty uom am';
        gap: 5px;
    }

    .pcradiogroup{
        display: grid;
        grid-template-areas: 'rit ret';
        gap: 5px;
        
    }


    .overlay {

        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 1, 1, 0);
        display: flex;
        justify-content: center;
        align-items: center;

    }

</style>



<div class="container">


    <div>Register of Party Accountheads</div>
    <div>
        <ng-template [ngIf]="lo.digitalkey.partyaccountheads.new"><p-button (click)="showModalDialog()" icon="pi pi-external-link" label="New"></p-button></ng-template>
        <p-button (click)="handleMore()" icon="pi pi-external-link" label="Next"></p-button>
    </div>
    

    <p-table [value]="accountheads" [scrollable]="true"  
    selectionMode="single" scrollHeight="500px" 
        (onRowSelect)="onRowSelect($event)" dataKey="recordid" selectionMode="single" styleClass="p-datatable-gridlines">
        
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Account</th>
                <th>Endpoint</th>
                <th>Type</th>
                <th>Modify</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ah let-i="rowIndex">
            <tr>
                
                <td>{{ah.id}}</td>
                <td>{{ah.accounthead}}</td>
                <td>{{ah.endpoint}}</td>
                <td>{{ah.accounttype}}</td>
                <td>
                    <div>
                        <button pButton class="p-button-sm" (click)="handleDisplay(ah)">VIEW</button>
                        <ng-template [ngIf]="lo.digitalkey.partyaccountheads.edit"><button pButton class="p-button-sm" (click)="handleAccess(ah)">Access</button></ng-template>
                    </div>
                </td> 

            </tr>
        </ng-template> 
    </p-table>


    <p-dialog header="Party Accounthead" [(visible)]="displayModal" [modal]="true" [style]="{width: '100%'}"
        [draggable]="false" [resizable]="false">
    
    
        <div class="formbox">

            <div class="box">
    
                <p>Select Person</p>
    
                <p-autoComplete
                    [(ngModel)]="selectedPerson"
                    [suggestions]="filteredPeople" 
                    (completeMethod)="filterPeople($event)"
                    field="name" 
                    [multiple]="false" class="autocomplete" 
                    (onSelect)="handleOnSelect($event)"
                    [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}">
                </p-autoComplete>
    
    
                <p>Existing Accounts of {{selectedPersonName}}</p>
    
                <div class="card">
                    <p-table [value]="existingAccounts" [scrollable]="true" styleClass="p-datatable-sm" selectionMode="single" scrollHeight="200px" [style]="{'width':'320px'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <!-- <th style="min-width:200px">Account ID</th> -->
                                <th>Account ID</th>
                                <!-- <th style="min-width:200px">Type</th> -->
                                <th>Type</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-customer>
                            <tr>
                                <!-- <td style="min-width:200px">{{customer.id}}</td>
                                <td style="min-width:200px">{{customer.accounttype}}</td> -->
                                <td>{{customer.id}}</td>
                                <td>{{customer.accounttype}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
    
                <br>
            
                <p>Select an existing telephone or email-id of {{selectedPersonName}}</p>
    
                <div class="card">
                    <p-table [value]="filteredEndpoints" [(selection)]="selectedEndpoint" dataKey="recordid" responsiveLayout="scroll" scrollHeight="200px" [style]="{'width':'320px'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem"></th>
                                <th>Endpoint</th>
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>
                                    <p-tableRadioButton [value]="product"></p-tableRadioButton>
                                </td>
                                <td>{{product.endpointdetail}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
    
                <p>Select account type and enter passwords for external or interal access</p>
    
    
                <div class="namebox">
                    <p-dropdown [options]="filteredAccountTypes" [(ngModel)]="selectedAccountType" optionLabel="type" optionValue="type" (onChange)="accountTypeChange($event)"></p-dropdown>
                    <input id="extpassword" type="password" pInputText class="p-inputtext-sm" [(ngModel)]="extPwd" placeholder="enter external password" [disabled]="disableExternalPWD"/>
                    <input id="intpassword" type="password" pInputText class="p-inputtext-sm" [(ngModel)]="intPwd" placeholder="enter internal password" [disabled]="disableInternalPWD"/>
                </div>
    
    
            </div>
    
            
    
        </div>
    


        
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="handleSave()" label="Save" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>









    <p-dialog header="Employee Access" [(visible)]="displayAccessModal" [modal]="true" [style]="{width: '100%'}"
        [draggable]="false" [resizable]="false" [maximizable]="true">
    
    
        <div class="formbox">

            <div class="box">
    
                <div class="namebox">
                    <!-- <p-dropdown [options]="filteredAccountTypes" [(ngModel)]="selectedAccountType" optionLabel="type" optionValue="type" (onChange)="accountTypeChange($event)"></p-dropdown> -->
                    <p-dropdown [options]="filteredComponentNames" [(ngModel)]="selectedInitialComponent" optionLabel="type" optionValue="type" (onChange)="componentChange($event)"></p-dropdown>
                </div>
                
                <div class="card">
                    <p-table [value]="dkeyList" [scrollable]="true" styleClass="p-datatable-sm"  selectionMode="single" scrollHeight="500px" [style]="{'width':'100%'}">
                        <ng-template pTemplate="header">
                            <tr>
                                
                                <th>Name</th>
                                <th>New</th>
                                <th>View</th>
                                <th>Edit</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-access let-i="rowIndex">
                            <tr>
                                <td>{{access.name}}</td>
                                <td><p-checkbox [(ngModel)]="access.new" [binary]="true" (onChange)="checkChanged(i)"></p-checkbox></td>
                                <td><p-checkbox [(ngModel)]="access.view" [binary]="true" (onChange)="checkChanged(i)"></p-checkbox></td>
                                <td><p-checkbox [(ngModel)]="access.edit" [binary]="true" (onChange)="checkChanged(i)"></p-checkbox></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
    
                <br>
            
                
    
    
            </div>
    
            
    
        </div>
    


        
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="handleUpdateAccess()" label="Update" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>




    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


    <ng-template [ngIf]="inProgress">
        <div class="overlay" id="modal">
            <p-progressSpinner></p-progressSpinner>
        </div>
    </ng-template>

    
    
</div>
